<div class="form-group">
  <%= label_tag('Select your package') %>
  <%= select_tag('appointment[package]', options_from_collection_for_select(@packages, 'id', lambda { |package| "#{package.name} - #{formatted_value(package.value)}" }), id: 'Select_your_package', class: 'form-control') %>
</div>
<div class="row">
  <div class="col-md-12">
    <p>
      <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="add_options">
        + Add options
      </a>
    </p>
  </div>
</div>
<div class="collapse" id="collapseExample">
  <% @options.each_with_index do |option, index| %>
    <div class="form-check">
      <label class="form-check-label">
        <%= check_box_tag("appointment[options][#{index}]", option.id, false, class: 'form-check-input') %>
        <%= "#{option.name} - #{formatted_value(option.value)}" %>
      </label>
    </div>
  <% end %>
</div>
